html, body {
    margin: 0;
    padding: 0;
    background-color: #f2f2fc;
    font-family: 'Alegreya', serif;
}
canvas {
    display: block;
}

header {
    background-color: #643573;
    margin: auto;
    
    /* Rectangle 1 */
    box-shadow: 0px -20px 4px 26px rgba(0, 0, 0, 0.25);
    
    font-family: 'Alegreya SC', serif;

}

header nav button{
    font-family: 'Alegreya SC', serif;
    color: #ffffff;
    font-size: 28px;
}

.nav-btn{
     font-family: 'Alegreya SC', serif;
    color: #ffffff;
    font-size: 28px;
}



.logo{

   

}


.bg-correct{
    background-color: #79c059;
}

.btn-blue{
     background-color:  #3ab6b2;
    color: #ffffff;
}

.bg-purple{
    background-color: #643573;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Alegreya SC', serif;
}

.btn-category{
    background-color: #643573;
    color: #ffffff;
    font-weight: bold;
}

#userNameModal{
    
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    
}

#userNameForm{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 50%;
    border-radius: 20px;
    margin: auto;
 
}



.category-box{
    background-color: #ffffff;
    border-radius: 20px;
    width: 30rem;
    font-family: 'Alegreya SC', serif;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.lock{
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    
}

.category-progress{
    height: 20px;
    border-style: solid;
    border-width: 20px;
    border-radius: 20px;
    border-color: black;
}

.text-purple{
    color: #643573;
}

.text-correct{
    color: #79c059;
}

.text-wrong{
    color: #e22837;
}

.quiz-next-btn{
    color: #ffffff;
    background-color:  #643573;
    border-radius: 0 0  20px 20px;
}

.quiz-next-btn:hover{
    background-color:  #3ab6b2;
}

.quiz-title{
    border-radius: 20px 20px 0 0;
}

#quiz-header{
    font-family: 'Alegreya SC', serif;
    font-size: 32px;
    
}

.quiz-box{
    /* Rectangle 14 */
   
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 75%;

}


.quiz-answers{
    
   
    
}

.quiz-icon{
    border: 1px solid lightgray;
}


.quiz-play-again-btn{
    color: #ffffff;
    background-color:  #79c059;
    border-radius: 0 0  20px 20px;
}

.quiz-play-again-btn:hover{
    background-color:  #3ab6b2;
}



@media only screen and (max-width: 992px) {
    
    .quiz-box{
        width: 100%;
    }
    #userNameForm{
        width: 100%;
    }
    
}